sandbox/
raw-data/
extraCDFs/
**/.DS_Store
utilities/__pycache__/
transformed-data/old/
results/case-studies/scheduler.ipynb
results/case-studies/scheduler_brandon.ipynb
results/case-studies/scheduler_yash.ipynb
transformed-data/coco-indoor-learned.pickle
